@model List<DapperSoccer.Dtos.PlayerDto.HighHeightPlayerDto>

    @foreach(var item in Model)
    {
   
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@item.height</h3>
                <p>@item.player_name</p>
                <p>EN UZUN FUTBOLCU</p>
            </div>
            <div class="icon">
            <i class="fas fa-ruler-vertical"></i>
            </div>
        </div>
  
    }
   
